## Data Types

##### numbers
* integer
* float
* complex

In [1]:
# these are all integers:
a = 7
b = 19843
c = 7*7

In [2]:
print(a,b,c)
print(type(a),type(b),type(c))

7 19843 49
<class 'int'> <class 'int'> <class 'int'>

In [3]:
# these are floats:
d = 1.78
e = 0.928398239823982938
f = 1e-5
g = d*a

In [4]:
print(d,e,f,g)
print(type(d),type(e),type(f),type(g))

1.78 0.928398239823983 1e-05 12.46
<class 'float'> <class 'float'> <class 'float'> <class 'float'>

In [5]:
# this is a complex number:
h = 1+3j

In [6]:
print(h)
print(type(h))

(1+3j)
<class 'complex'>

#### math operators and functions

In [7]:
# these are all standard math operators supported in python:
print('(3+5*7-3)/2 =',(3+5*7-3)/3)

(3+5*7-3)/2 = 11.666666666666666

In [8]:
# using double division sign (//) returns the integer part of the division result
print('(3+5*7-3)//2 =',(3+5*7-3)//3)

(3+5*7-3)//2 = 11

In [9]:
# using % returns the remainder of the division result
print('(3+5*7-3)%3 =',(3+5*7-3)%3)

(3+5*7-3)%3 = 2

In [10]:
# ** for exponentiation
print('2**5=',2**5)

2**5= 32

##### strings

In [11]:
# these is a string (defined with double quotation mark):
str1 = 'this is a string'
print('str1 =',str1)

str1 = this is a string

In [12]:
# this is another string (defined with double quotation mark):
str2 = "this is another string"
print('str2 =',str2)

str2 = this is another string

In [13]:
# the following is a string with a single quote mark
# since the ' sign signals begining and ending of the string we need to use the escape character "\" before it
str3 = 'a string with a single \' sign '
print('str2 =',str3)

str2 = a string with a single ' sign

In [14]:
# the escape character is usefull for other thigs as well such as ignoring the line ending for better readability:
str4 = 'this is  intentionally long string that is not actually splited between line #1 \
and line #2'
print('str2 =',str4)

str2 = this is  intentionally long string that is not actually splited between line #1 and line #2

In [15]:
# and also to create such separations in our prints
str5 = 'this one however is splited \n       to two different lines' 
print('str2 =',str5)

str2 = this one however is splited
       to two different lines

In [16]:
# we can use the 'split()' function to split the string using a delimiter (default delimiter is single-space):
print('this is a string'.split())

['this', 'is', 'a', 'string']

In [17]:
# we can also conver al string to lower-case / upper-case
print('this is a string'.upper())
print('THIS IS A STRING'.lower())

THIS IS A STRING
this is a string

In [18]:
# combining strings and numbers in prints can be done in several ways:
print('a=%s, b=%s, c=%s' % (a,b,c))
print('a={}, b={}, c={}'.format(a,b,c))
print('a=',a,' b=',b,' c=',c)

a=7, b=19843, c=49
a=7, b=19843, c=49
a= 7  b= 19843  c= 49

In [19]:
# raw strings are preceded with 'r' and treat the escape character '\' as a regular character 
print('this is a regular string with a single slash sign \\ in it')
print(r'this is a raw string hence it has double slash sign \\ in it')

this is a regular string with a single slash sign \ in it
this is a raw string hence it has double slash sign \\ in it

#### boolean type

In [20]:
# this is a boolean variable
bool1 = True
bool2 = False
print('bool1 = {}, bool2 = {}, \ntype bool1 = {}, type bool2 = {}'.format(bool1,bool2,type(bool1),type(bool2)))

bool1 = True, bool2 = False,
type bool1 = <class 'bool'>, type bool2 = <class 'bool'>

In [21]:
print('these are all valid boolean comparisons:')
print('1==2',1==2)
print('1!=2',1!=2)
print('1<2',1<2)
print('1>=2',1>=2)

these are all valid boolean comparisons:
1==2 False
1!=2 True
1<2 True
1>=2 False

In [22]:
# we can use boolean operators as well:
print('bool1 and not bool2 = {}'.format(bool1 and not bool2))
print('not bool1 or bool2 = {}'.format(not bool1 or bool2))

bool1 and not bool2 = True
not bool1 or bool2 = False

## casting

In [23]:
# somtimes we want to explicitly state (or change) the type of a variable 
# this can easily be done using the 'int()', 'float()', complex() & 'str() fuctions':
print('these are all integers because of casting:',int(1.1),'\b,',int('12')) # \b is for backspace 
print('these are all floats because of casting:',float(1),'\b,',float('12')) # \b is for backspace 
print('these are all strings because of casting: '+str(1.1)+', '+str(12)) # + concatenates strings
print('this is a complex number:',complex(1))

these are all integers because of casting: 1, 12
these are all floats because of casting: 1.0, 12.0
these are all strings because of casting: 1.1, 12
this is a complex number: (1+0j)

## collections

python has 4 types of collections:
* lists
* tuples
* sets
* dictionaries

#### list

In [24]:
# python list is an ordered collection of items that may contain multiple shows of the same item
# a list is defined and instentiated using square brackets:
l1 = [1,3,6,8,4,3,1,3,4,7,9,10192,1.555,'apples']
# as we can see a list items can be of varying types

In [25]:
# since a list is an ordered collection, we can refer to its items 
# using their location within the list (starting from 0):
print('the second item is l1[1]',l1[1])

the second item is l1[1] 3

In [26]:
# we can refer to list items using their location from the end of the list:
print('the last item is l1[1]',l1[-1])
print('the entire list items:',l1)

the last item is l1[1] apples
the entire list items: [1, 3, 6, 8, 4, 3, 1, 3, 4, 7, 9, 10192, 1.555, 'apples']

In [27]:
# indexing a range of items is done using colon ':'
# note that the range is reffered like [n1..n2), meaning closed range on the left and open on its right side
print('the list items in places 2-4 are:',l1[2:5])

the list items in places 2-4 are: [6, 8, 4]

In [28]:
# a reversed list items:
print('reversed list items',l1[::-1])

reversed list items ['apples', 1.555, 10192, 9, 7, 4, 3, 1, 3, 4, 8, 6, 3, 1]

In [29]:
# we can append an item to a list
l1.append('appended')
print('this is the list with the appended item',l1)

this is the list with the appended item [1, 3, 6, 8, 4, 3, 1, 3, 4, 7, 9, 10192, 1.555, 'apples', 'appended']

In [30]:
# and remove an item from the end of a list
l1.pop()
print('this is the list after removing the appended item',l1)

this is the list after removing the appended item [1, 3, 6, 8, 4, 3, 1, 3, 4, 7, 9, 10192, 1.555, 'apples']

In [31]:
# or delete a spesific item from the list
l1.remove(1)
print('note that remove only deletes the first show of the desired paramater:',l1)

note that remove only deletes the first show of the desired paramater: [3, 6, 8, 4, 3, 1, 3, 4, 7, 9, 10192, 1.555, 'apples']

In [32]:
# remove the item in the N-th location in the list:
del l1[2]
print('remeber that counting starts from zero:',l1)

remeber that counting starts from zero: [3, 6, 4, 3, 1, 3, 4, 7, 9, 10192, 1.555, 'apples']

In [33]:
# we can also insert an item to the list:
l1.insert(2,'inserted')
print('this is the list after inserting an item:',l1)

this is the list after inserting an item: [3, 6, 'inserted', 4, 3, 1, 3, 4, 7, 9, 10192, 1.555, 'apples']

In [34]:
# concatinating two lists is done by simply using the '+' sign
# note that the order is being preserved
l1 = [1,2,3]
l2 = [4,5,6]
print('concatenated list is:',l2+l1)

# if we want to sort the concatenated list we can use the sorted function
print('concatenated sorted list is:',sorted(l2+l1))

concatenated list is: [4, 5, 6, 1, 2, 3]
concatenated sorted list is: [1, 2, 3, 4, 5, 6]

In [35]:
# assigning a list to another variable does not copy the list but the reference to it
l1 = [1,2,3]
l2 = l1
l1.append(4)
print('as we can see the item 4 is in both of the lists (because they\'re the same),','l1 =',l1,'l2 =',l2)

as we can see the item 4 is in both of the lists (because they're the same), l1 = [1, 2, 3, 4] l2 = [1, 2, 3, 4]

In [36]:
# to coopy a list we should use the copy() function
l1 = [1,2,3]
l2 = l1.copy()
l1.append(4)
print('as we can see the item 4 is no longer in both of the lists (because they\'re not the same),','l1 =',l1,'l2 =',l2)

as we can see the item 4 is no longer in both of the lists (because they're not the same), l1 = [1, 2, 3, 4] l2 = [1, 2, 3]

In [37]:
# to find out if a specific value is within a list use the 'in' operator
l1 = [1,2,3]
print('2 in l1 = ',2 in l1)
print('4 in l1 = ',4 in l1)

2 in l1 =  True
4 in l1 =  False

#### tuple

In [38]:
# we can think of a tuple as a list that once created it cannot be changed
# a tuple is created using rounded brackets

In [39]:
tup1 = (1,2,3,4)
print('the third item in tup1 is:',tup1[2])

the third item in tup1 is: 3

In [40]:
# however the following will yield an error:
tup1 = (1,2,3,4)
tup1[2] = 3

TypeError: 'tuple' object does not support item assignment

In [41]:
# in order to create a tuple with only one item we need to use a comma (',') after this one element
tup2 = (3,)
notup1 = (3)
print('this is a tuple {} and this is not {}'.format(tup2,notup1))

this is a tuple (3,) and this is not 3

#### set

In [42]:
# a set is a collection of items without any duplicates or specific order
# the following are all valid ways to create sets:
set1 = {1,3,5}
# constructing a set from a tuple
set2 = set((1,3,4,2,3))
# constructing a set from a list
set3 = set([1,3,4,1,6,5])
print('set1 =',set1,'\nset2 =',set2,'\nset3 =',set3)

set1 = {1, 3, 5}
set2 = {1, 2, 3, 4}
set3 = {1, 3, 4, 5, 6}

In [43]:
# we cannot refer to items location as the set is unordered
# however we can use the 'in' operator to check if an item is in a set
set1 = {1,3,5,7,9}
print('3 is in the set set1 ->',3 in set1)

3 is in the set set1 -> True

In [44]:
# we can also  calculate the union or intersection of sets:
set1 = {1,3,5,7,9}
set2 = {11,3,10,9}
print('the union of set1 and set2 is {} and the intersection is {}'.format(set1.union(set2),set1.intersection(set2)))

the union of set1 and set2 is {1, 3, 5, 7, 9, 10, 11} and the intersection is {9, 3}

#### dictionaries

In [45]:
# a dictionary is a collection of indexed items
# we can define a dictionary in the following way:
dict1 = {'age':26,
         'gender':'female',
         'id':2398230192}
print('dictionary dict1 is',dict1)
print('keys of dict1 are:',dict1.keys())
print('values of dict1 are:',dict1.values())
# note that while both keys and values may look like lists they are not lists 
# we can cast them to be lists using the list() command
print('keys of dict1 (casted to list) are:',list(dict1.keys()))
print('values of dict1 (casted to list) are:',list(dict1.values()))

dictionary dict1 is {'age': 26, 'gender': 'female', 'id': 2398230192}
keys of dict1 are: dict_keys(['age', 'gender', 'id'])
values of dict1 are: dict_values([26, 'female', 2398230192])
keys of dict1 (casted to list) are: ['age', 'gender', 'id']
values of dict1 (casted to list) are: [26, 'female', 2398230192]

In [46]:
# another way to construct a dictionary is:
dict1 = dict(age=26,gender='female',id=2398230192)
print('dictionary dict1 is',dict1)

dictionary dict1 is {'age': 26, 'gender': 'female', 'id': 2398230192}

In [47]:
# we can get an item from a list using its index:
dict1 = {'age':26,
         'gender':'female',
         'id':2398230192}
print('the gender in dict1 is:',dict1['gender'])

the gender in dict1 is: female

In [48]:
# we can also assign a new item to the list using either a new or existing index:
dict1 = {'age':26,
         'gender':'female',
         'id':2398230192}
dict1['city'] = 'Amsterdam'
dict1['age'] = 27

print('the gender in dict1 is:',dict1['gender'])
print('the city in dict1 is:',dict1['city'])

the gender in dict1 is: female
the city in dict1 is: Amsterdam

In [49]:
# we can create a dictionary of dictionaries:
people = {
    'Anne':{
        'age':26,
        'gender':'female',
        'id':2398230192
    },
    'Jake':{
        'age':18,
        'gender':'male',
        'id':1094380299
    },
    'Erika':{
        'age':22,
        'gender':'female',
        'id':1923480923
    }
}
people

{'Anne': {'age': 26, 'gender': 'female', 'id': 2398230192},
 'Jake': {'age': 18, 'gender': 'male', 'id': 1094380299},
 'Erika': {'age': 22, 'gender': 'female', 'id': 1923480923}}

In [50]:
# note that a string is also an ordered colection so we can slice it using items (characters) location:
str1 = 'this is a string'
print(str1[:10])
print(str1[-6:])

this is a
string

## flow control

#### conditioning

In [51]:
# we can use the if statement to perform parts of our code only if a condition is met:
threshold = 5
if threshold>3:
    print('the threshold is larger than 3')
else:
    print('the threshold isn\'t larger than 3')

the threshold is larger than 3

In [52]:
# we can use any of the operators we have seen in the boolean part above:
# >, <, ==, !=, >=, <=, not, and, or, &, | and ()

#### looping

In [53]:
# we can use a loop to either iterate through a collection or to repeatedly do something
names = ['Anne','Jake','Erika']
for n in names:
    print(n)

Anne
Jake
Erika

In [54]:
for i in range(10):  # range creates (as expected) a range of integers 
    print(i,i**2,i**3)

0 0 0
1 1 1
2 4 8
3 9 27
4 16 64
5 25 125
6 36 216
7 49 343
8 64 512
9 81 729

In [55]:
names = ['Anne','Jake','Erika']
for i,n in enumerate(names):    # enumerate creates an iterator (more on that later on) that yields an indexed list: 
    print('the index of {} in the names list is {}'.format(n,i))

the index of Anne in the names list is 0
the index of Jake in the names list is 1
the index of Erika in the names list is 2

In [56]:
# another type of loop is a while loop that keeps looping untill a condition is met:
n = 0
while n < 100:
    print(n)
    if n%2==0:
        n+=1
    else:
        n*=2
        
# think, what is the probability that the last number would be even for n >= 10000?

0
1
2
3
6
7
14
15
30
31
62
63

In [57]:
# use the 'break' statement to exit the loop and go on with the rest of the code
n=0
while n<1000000:
    n+=1
    if n // 5==1:
        break
print('current n=',n)

current n= 5

In [58]:
# use the 'continue' statement to stop the current iteration of the loop and skip to the next one
n=0
while n<10:
    n+=1
    if n % 3 == 0:
        continue
    print('current n=',n)
    
# note that multiples of 3 don't get printed

current n= 1
current n= 2
current n= 4
current n= 5
current n= 7
current n= 8
current n= 10

In [59]:
# another great and useful way of using the 'for' reseved way is called a list-comprehention or dict-comprehention
# in this way we can create a list (or a dictionary) using an internal "for loop" as follows:
l1 = [x**2 for x in range(20)]
print(l1)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361]

In [60]:
# we can also condition within a list comprehention:
l1 = [x**2 for x in range(20) if (x%2==1)and(x%3==0)]
print(l1)

[9, 81, 225]

In [61]:
# we can use the same in dictionary comprehention
# lets say we wanto to use numbers instead of names we can create the following dictionary:
names = ['Anne','Jake','Erika']
dict1 = {n:i for i,n in enumerate(names)}
print(dict1)

{'Anne': 0, 'Jake': 1, 'Erika': 2}

In [62]:
# sometimes we want to iterate not only over one set of values but over few sets at the same time
# this can be done using the zip() function
a = ['a'+str(x) for x in range(1,11)]
b = ['b'+str(x*10) if x%2==0 else 'b'+str(x*20) for x in range(1,11)]
print('a=',a)
print('b=',b)

a= ['a1', 'a2', 'a3', 'a4', 'a5', 'a6', 'a7', 'a8', 'a9', 'a10']
b= ['b20', 'b20', 'b60', 'b40', 'b100', 'b60', 'b140', 'b80', 'b180', 'b100']

In [63]:
# lets assume we want to get the division of the numbers in the a list divided by the numbers in the b list
# this can easily be done with a single list comprehension as follows:
c = ['c'+str(float(x.split('a')[1])/float(y.split('b')[1])) for (x,y) in zip(a,b)]
print('c=',c)

c= ['c0.05', 'c0.1', 'c0.05', 'c0.1', 'c0.05', 'c0.1', 'c0.05', 'c0.1', 'c0.05', 'c0.1']

## functions

In [64]:
# in order to create a more modular code and reuse the same code blocks instead of writing them again
# we can declare functions and use them over and over
# a function is defined with def statement
def red_print_hello_world():
    print('\033[1;31m hello world!')

# now let's use our newly created function
red_print_hello_world()

 hello world!

In [65]:
# a function can different recieve parameters allowing flexible use:
def red_print(text):
    print('\033[1;31m'+text)
red_print('this is what I want to print in red')

this is what I want to print in red

In [66]:
# a function can recieve different parameters allowing flexible use:
def color_print(text,desired_color):
    if desired_color=='red':
        print('\033[1;31m'+text)
    elif desired_color=='blue':
        print('\033[1;34m'+text)
    else:
        print('\033[0;0m'+text)
color_print('this is what I want to print in blue','blue')

this is what I want to print in blue

In [67]:
# a parameter can have a default value
def color_print(text='sample text',desired_color='blue'):
    if desired_color=='red':
        print('\033[1;31m'+text)
    elif desired_color=='blue':
        print('\033[1;34m'+text)
    else:
        print('\033[0;0m'+text)
color_print()

sample text

In [68]:
# practice!
# write a function that prints the text in the 'text' parameter with alternating color for each word

# solution (to be removed in the practice nb):

def color_print(text='sample text',desired_color='blue',end='\n'):
    if desired_color=='red':
        print('\033[1;31m'+text,end=end)
    elif desired_color=='blue':
        print('\033[1;34m'+text,end=end)
    else:
        print('\033[0;0m'+text,end=end)

def colorfull_print(text):
    text_list = text.split()
    color_dict = {0:'blue',1:'red',2:'black'}
    for c,t in enumerate(text_list):
        color_print(t,color_dict[c%3],end=' ')

colorfull_print('this is a sample text printed in alternating colors')

this is a sample text printed in alternating colors

In [69]:
# a function can also return one or more values
def sqr_and_qube_diff(a,b):
    return (a-b)*(a+b),a**3-b**3

# think, what is the data-type of the output?
sqr_and_qube_diff(10,7)

(51, 657)

In [70]:
# we do not allways know in advance the number of parameters we will get in our function 
# we can use the '*' parameter decleration in order to create a fuction that recieves unknown number of parameters
def multiple_arguments(*args):
    print('the function recieved {} argumnets'.format(len(args)))
    print('the sum of the first argument and the last one is: {}'.format(args[0]+args[-1]))
    
multiple_arguments(1,2,3,4,5,6,7)

the function recieved 7 argumnets
the sum of the first argument and the last one is: 8

In [71]:
# recursion is the concept of a function that calls itself
# this is very useful when a problem can be solved by reducing it to a simpler problem
# this is an example of how to calculate fibonacci numbers 
def fib(n):
    if n==0: return 0 
    if n==1: return 1
    if n>1: return fib(n-1)+fib(n-2)
    else: return None
    
print([fib(x) for x in range(34)])

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368, 75025, 121393, 196418, 317811, 514229, 832040, 1346269, 2178309, 3524578]

In [72]:
# another option is to implement using dinamic programing, as we'll see this is a very important concept in terms of runtime
fib_results = [0,1]
def fib_dynamic_prog(n):
    if n>=0: 
        if n<len(fib_results): return fib_results[n]
        else: 
            fib_results.append(fib_dynamic_prog(n-2)+fib_dynamic_prog(n-1))
            return fib_results[n]
    else: return None

In [73]:
# we can use the %time magic (within jupyter) to measure runtime of a single line 
# or %%time in the begining of a cell to measure runtime of the entire cell
%time print([fib(x) for x in range(35)])

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368, 75025, 121393, 196418, 317811, 514229, 832040, 1346269, 2178309, 3524578, 5702887]
Wall time: 6.37 s

In [74]:
fib_results = [0,1]
%time print([fib_dynamic_prog(x) for x in range(35)])

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368, 75025, 121393, 196418, 317811, 514229, 832040, 1346269, 2178309, 3524578, 5702887]
Wall time: 0 ns

In [75]:
# sometime we do not want to create a function seperately but rather create a function on the fly for a single time use
# this can be done using lambda functions, a lambda function is an anonymous function 
# it can take any number of arguments but shold only be constructed of a single expression 
x = lambda a,b,c: (a+b)**c
print('the result of our lambda function for inputs:{},{},{} is:{}'.format(*[4,3,2],x(*[4,3,2])))

the result of our lambda function for inputs:4,3,2 is:49

In [76]:
def moduler(n):
    return lambda x: x%n

In [77]:
modulu2 = moduler(2)
modulu5 = moduler(5)
print('modulu 2 of {} is {},  modulu 5 of {} is {}'.format(13,modulu2(13),13,modulu5(13)))

modulu 2 of 13 is 1,  modulu 5 of 13 is 3

## working with files

In [78]:
# writing text to a file is very simple, we need to open the file - write the content into it and close it.
f = open('temp.txt','wt')
f.write('the first sentence in the file')
f.close()

In [79]:
# reading is also very simple (and quite similar) we need to open the file - write the content into it and close it.
# note that type of opening of the file is set by the letter w/r/a/x for write/read/append/create respectively
# and the type of the file content is set by letter t/b for text/binary respectively 
# so 'wt' stands for 'write text' and 'rb' would stand for 'read binary'
f = open('temp.txt','rt')
print(f.read())
f.close()

the first sentence in the file

In [80]:
# we can also save some text in a binary format
f = open('temp.txt','wb')
f.write(b'the first sentence in the file')
f.close()

In [81]:
# b'the first sentence in the file' is equivalent to 'the first sentence in the file'.encode()
'the first sentence in the file'.encode()

b'the first sentence in the file'

In [82]:
# in order to get the regular text and not binary formatted text we can use ".decode('utf-8')"
f = open('temp.txt','rb')
print(f.read().decode('utf-8'))
f.close()

the first sentence in the file

In [83]:
# test the time defference between reading and writing data as text 
# compared with doing the same with binary text
# you can use the %%time magic for each of the above four cells

In [84]:
# sometimes it is useful to save data into a memory buffer
# this can be done using the io library
import io
buffer = io.BytesIO()
buffer.write(b'this is a sample text\n')
print(buffer.getvalue().decode('utf-8'))

this is a sample text

In [85]:
# in order to fully understand the power of in memory buffer lets compare concatination of 100k short strings 
# in three ways:
# 1. writing into a file
# 2. concatinating in a variable
# 3. writing into an in-memory buffer

In [86]:
%%time
f = open('temp1.txt','wb')
for i in range(100000):
    f.write(b'the first sentence in the file\n')
f.close()
f = open('temp1.txt','rb')
print(f.read().decode('utf-8')[:100])
f.close()

the first sentence in the file
the first sentence in the file
the first sentence in the file
the fir
Wall time: 23.9 ms

In [87]:
%%time
temp = ''
for f in range(100000):
    temp+='this is a sample text\n'
print(temp[:100])

this is a sample text
this is a sample text
this is a sample text
this is a sample text
this is a sa
Wall time: 231 ms

In [88]:
%%time
import io
buffer = io.BytesIO()
for f in range(100000):
    buffer.write(b'this is a sample text\n')
print(buffer.getvalue().decode('utf-8')[:100])

this is a sample text
this is a sample text
this is a sample text
this is a sample text
this is a sa
Wall time: 18.9 ms

In [89]:
# now lets try to save to disk our nested dictionary from previous section:
people = {
    'Anne':{
        'age':26,
        'gender':'female',
        'id':2398230192
    },
    'Jake':{
        'age':18,
        'gender':'male',
        'id':1094380299
    },
    'Erika':{
        'age':22,
        'gender':'female',
        'id':1923480923
    }
}
people

{'Anne': {'age': 26, 'gender': 'female', 'id': 2398230192},
 'Jake': {'age': 18, 'gender': 'male', 'id': 1094380299},
 'Erika': {'age': 22, 'gender': 'female', 'id': 1923480923}}

In [90]:
# in order to do that we need to undergo a process of serialization 
# serialization reffers to converting the structured data into a format that can be saved to disk (serial rather than nested)
# we can use the pickle library for to do just that - saving more complex structures to disk
# it is also useful for fast loading as the data is saved in binary format
# and also because pickle allows for data compression of the saved file

In [91]:
import pickle
f = open('people.pickle','wb')
# pickle.dump(people,f,protocol=pickle.HIGHEST_PROTOCOL) ## check to see what is the difference in file size created
pickle.dump(people,f)
f.close()

In [92]:
f = open('people.pickle','rb')
new_people = pickle.load(f)
f.close()

In [93]:
new_people

{'Anne': {'age': 26, 'gender': 'female', 'id': 2398230192},
 'Jake': {'age': 18, 'gender': 'male', 'id': 1094380299},
 'Erika': {'age': 22, 'gender': 'female', 'id': 1923480923}}

## classes

In [94]:
# python is an object oriented programing language (OOP)
# this means that almost everything within python is an object 
# an object is a programing concept that can contain data and methods 
# the main idea behind OOP is that objects can interact with other objects or change their self-contained data

# the first basic concept we will use is the concept of a class
# we can think of a class is a template that we design in order to create object of a specific kind

# in the following code-cell we will define a person class

In [95]:
class person(object):
    def __init__(self,p_id,age,gender):
        self.id = p_id
        self.age = age
        self.gender = gender

p1 = person(2398230192,26,'female')
p2 = person(1094380299,18,'male')
p3 = person(1923480923,22,'female')

In [96]:
# the above rows are called instantiation of objects of type 'person'
# lets take a look at the contents of our instances p1,p2,p3

In [97]:
people = [p1,p2,p3]
for i,p in enumerate(people):
    print('person {} id={}, age={}, and gender={}.'.format('p'+str(i+1),p.id,p.age,p.gender))

person p1 id=2398230192, age=26, and gender=female.
person p2 id=1094380299, age=18, and gender=male.
person p3 id=1923480923, age=22, and gender=female.

In [98]:
# As we mentioned before we can also add methods to our new person class

In [99]:
class person(object):
    def __init__(self,p_id,age,gender):
        self.id = p_id
        self.age = age
        self.gender = gender
    def print_details(self):
        print('id={}, age={}, and gender={}.'.format(self.id,self.age,self.gender))

p1 = person(2398230192,26,'female')
p2 = person(1094380299,18,'male')
p3 = person(1923480923,22,'female')
people = [p1,p2,p3]
for i,p in enumerate(people):
    print('person p'+str(i+1),end=' ')
    p.print_details()

person p1 id=2398230192, age=26, and gender=female.
person p2 id=1094380299, age=18, and gender=male.
person p3 id=1923480923, age=22, and gender=female.

In [100]:
class client(person):
    def __init__(self,p_id,age,gender,client_id):
        super().__init__(p_id,age,gender)
        self.client_id = client_id
        self.__balance = 0
    def transaction(self,amount):
        self.__balance += amount
    def get_balance(self):
        return self.__balance

c1 = client(9283982322,40,'female',902834982)
print('details of client c1 are:')
c1.print_details()
print('client_id='+str(c1.client_id))

details of client c1 are:
id=9283982322, age=40, and gender=female.
client_id=902834982

In [101]:
# as we can see by defining client as a class using person instead of just an object, 
# we get the option to refer to the 'person' class properties and methods
# by igniting the __init__ function of person (using super().__init__) 
# we make client class compliant with the properties and methods of its parent class 'person'

In [102]:
# note that attempts to reach the __balance account ends with an error
# this is a result of the concept called encapsulation - the ability to change private variable(s) only through the designated methods
# private variables in python are defined using __ (double underscore) prior to the variable name
c1.__balance

AttributeError: 'client' object has no attribute '__balance'

In [103]:
# however we can still get the value of the client's balance using the method we have prepared for this cause
# in this way we can prevent undesired changes to some of the variables of a class within our code
c1.get_balance()

0

In [104]:
c1.transaction(100)
c1.transaction(-40)
c1.transaction(-30)

In [105]:
c1.get_balance()

30

In [106]:
f = open('client1.pickle','wb')
pickle.dump(c1,f)
f.close()

In [107]:
f = open('client1.pickle','rb')
c2 = pickle.load(f)
f.close()
c2.get_balance()

30